[Unit]

Description= Starts PHP for External-Apps-Launcher

[Service]

ExecStart=/bin/bash /usr/bin/php-start-4000.sh


[Install]
WantedBy=multi-user.target
