[Unit]

Description=starts php service for Smith-Pad-OS Web Interface

[Service]

ExecStart=/bin/bash /usr/sbin/web-interface-php-start


[Install]
WantedBy=multi-user.target
