[Unit]

Description=starts php service for Smith-Pad-OS Web Interface

[Service]

ExecStart=/bin/bash /usr/sbin/php-start.sh


[Install]
WantedBy=multi-user.target
