[Unit]

Description= Starts PHP for Smith-Pad-OS-Shell

[Service]

ExecStart=/bin/bash /usr/bin/php-start-3000.sh


[Install]
WantedBy=multi-user.target
